<div class="row">
    <div class="content col-md-10 offset-md-1">
        <article>
            <h4>Базовий алгоритм сімейства ZET</h4>
            <p>
                В основі алгоритму ZET лежать три припущення. Перше (гіпотеза надмірності) полягає в тому, що реальні
                таблиці мають надмірність, яка виявляється в наявності схожих між собою об'єктів (рядків) і залежать
                один від одної властивості (стовпців). Якщо ж надмірність відсутня (як, наприклад, в таблиці випадкових
                чисел), то надати перевагу одному прогноз над іншим не можливо.
                Друге припущення (гіпотеза локальної компактності) полягає у твердженні, що для передбачення пропущеного
                елемента b_ij потрібно використовувати не всю таблицю, а лише її «компетентну» частина, що складається з
                елементів рядків, схожих на рядок i, і елементів стовпців, схожих на стовпець j. Решта рядків і стовпці
                для даного елемента неінформативні. Їх використання лише руйнувало б локальну компактність підмножини
                компетентних елементів і погіршувало точність передбачення.
                Третє припущення (гіпотеза лінійних залежностей) полягає в тому, що з усіх можливих видів залежностей
                між стовпцями (рядками) в алгоритмі ZET використовуються тільки лінійні залежності. Якщо залежності
                носять більш складний характер, то для їх надійного виявлення потрібно такий великий обсяг даних, який в
                реальних задачах зустрічається нечасто. У роботі алгоритму ZET можна виділити три етапи.
            </p>
            <ol>
                <li>
                    На першому етапі для даного пробілу з вихідної матриці «об'єкт-властивість», стовпці якої нормовані
                    по
                    дисперсії, вибирається підмножина компетентних рядків і потім для цих рядків –компетентних стовпців
                </li>
                <li>
                    На другому етапі автоматично підбираються параметри у формулі, що використовується для передбачення
                    пропущеного елемента, при яких очікувана помилка передбачення досягає мінімуму.
                </li>
                <li>
                    На третьому етапі виконується безпосередньо прогнозування елемента за цією формулою.
                </li>
            </ol>
            <p>
                Під компетентністю l-го рядка по відношенню до i-го розуміється величина
            </p>
            <p>
                Тут, , - евклідова відстань між i-м і l-м рядками, a - коефіцієнт комплектності, рівний числу
                властивостей,
                значення яких відомі як для i-го, так і для l-го рядка. Компетентний рядок не повиннен мати пробілу в
                j-му
                стовпці.
                Під компетентністю k-го стовпчика по відношенню до j-го стовпція розуміється величина

                де - модуль коефіцієнта кореляції між j-м та k-м стовпцями, a - коефіцієнт комплектності, рівний числу
                об'єктів, у яких відомі як j-ті, так і k-ті властивості. Компетентний стовпець не повинен мати пробілу в
                i-му рядку.
            </p>
            <p>
                За вказівкою користувача програма вибирає компетентну підматрицю будь-якого розміру в межах від 2х2 до .
                Зазвичай використовується підматриця, що містить від 3 до 7 рядків і стовпців.
            </p>
            <p>
                В процесі передбачення значення пробілу з використанням залежностей між j-м і всіма іншими (k-ми)
                стовпцями
                виробляються «підказки». Для їх отримання використовується рівняння лінійної регресії між j-м та k-м
                стовпцями(див. рис. 25). Якщо в підматриці було стовпців, то потім q підказок усереднюються з вагою,
                пропорційною компетентності відповідного стовпчика. У підсумку виходить прогнозна величина , породжена
                надмірністю, що міститься в стовпцях:
                (1)
            </p>
            <p>
                Тут - коефіцієнт, який регулює вплив компетентності на результат передбачення. При малих значеннях
                різниця в
                компетентності позначається мало, при великих більш компетентні стовпці впливають набагато більше інших.
                Вибір і становить суть етапу підбору формули для прогнозування: всі відомі елементи j-гo стовпчика
                передбачаються при різних значеннях і потім вибирається таке значення , при якому помилка прогнозу була
                мінімальною.
            </p>
            <img src="assets/img/linear_regression.jpg">
            <p>
                Рис. 1 Визначення лінійної регресії
            </p>
            <p>
                За формулою (1) з обраним значенням робиться прогноз величини пропущеного елемента, а отримана при
                виборі
                мінімальна величина в подальшому приймається в якості оцінки очікуваної помилки заповнення прогалини у
                стовпчиках.
            </p>
            <p>
                Процедура заповнення прогалини з використанням зв'язку між i-й рядком і всіма s іншими (l-ми) рядками
                аналогічна вищеописаної і виконується за формулою
                (2)
            </p>
            <p>
                Для вибору тут використовуються всі відомі елементи i-го рядка, і вибір робиться при мінімальному
                значенні
                помилки їх прогнозування.
                Загальний прогноз значення пропущеного елемента виходить вибором прогнозу , якщо , або прогнозу , якщо .
                Можливо і їх усереднення з вагою, обернено пропорційною величині очікуваної помилки:
            </p>
            <p>
                Тут - константа, наприклад, рівна 0,01, введена для запобігання поділу на нуль.
                Як зазначалося, оцінка очікуваної помилки заповнення прогалини (відхилення передбаченого значення від
                істинного) може бути отримана в процесі підбору коефіцієнта . Про величину очікуваної помилки можна
                судити
                по помилках і передбачень відомих елементів i-го рядка і j-го стовпчика при найкращому значенні .
            </p>
            <p>
                Експерименти показують, що кореляція між середнім значенням цих помилок і помилкою завжди позитивна.
                Другий спосіб визначення очікуваної помилки заснований на оцінці дисперсії «підказок». Обчислюється
                дисперсія величин підказок і , одержаних від усіх k стовпців і l рядків компетентної підматриці. Велика
                дисперсія вказує на відсутність стійкої закономірності зв'язку між елементом і іншими елементами
                підматриці,
                тобто на відсутність їх компактності. Зрозуміло, що в цих умовах розраховувати на високу точність
                передбачення величини не доводиться. Експерименти показали, що коефіцієнт кореляції між дисперсією і
                помилкою передбачення досягає величини +0,7. Прогнози очікуваної помилки заповнення по дисперсійному
                критерію виявилися надійнішими, ніж за критерієм, що базується на оцінках помилок S.
            </p>
            <p>
                Для різних прикладних задач були зроблені численні модифікації описаного вище базового алгоритму ZET, що
                відрізняються своїм призначенням і наборами різних режимів роботи. Програми заповнення прогалин можуть
                працювати в одному з наступних режимів:
            </p>
            <ol>
                <li>
                    Заповнення всіх прогалин.
                </li>
                <li>
                    Заповнення тільки тих прогалин, очікувана помилка для яких не перевищує заданої величини.
                </li>
                <li>
                    Заповнення прогалин тільки на базі інформації, наявної у вихідній таблиці.
                </li>
                <li>
                    Заповнення кожного наступного пробілу з використанням вихідної інформації і прогнозних значень
                    раніше заповнених прогалин.
                </li>
            </ol>
            <p>
                Для кожного з цих варіантів є декілька режимів видачі проміжних і остаточних результатів на друк.
            </p>
        </article>
    </div>
</div>