@media (max-width: 768px) {
    body header {
        background: url("../img/left_background.png") center fixed no-repeat;
        background-size: cover;
        height: 400px;
    }

    #books {
        display: none;
    }
}

@media (min-width: 768px) {
    body header {
        background: url("../img/right_background.png") right fixed no-repeat,
        url("../img/left_background.png") left fixed no-repeat;
        background-size: cover, cover;
        height: 400px;
    }

    #books {
        opacity: 0;
        height: 300px;
        width: 100px;
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: -200px;
    }
}

body {
    font-family: "Helvetica Neue", serif;
    overflow-x: hidden;
}

.custom-carousel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel img {
    width: 100%;
}

.content {
    background: #FFFFFF;
}

.full-content {
    background: url("../img/bg.jpg") repeat;
}

.tab-pane {
    margin-top: 10px;
}

.nav-tabs .nav-item a {
    color: grey;
}

article {
    text-align: justify;
    margin-top: 10px;
}

h4, h5 {
    text-align: center;
}