@media (max-width: 768px) {
    body header {
        background: url("../img/left_background.png") center no-repeat;
        background-size: cover;
        height: 400px;
    }

    #books {
        display: none;
    }

    .carousel-text {
        padding-top: 10px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    body header {
        background: url("../img/right_background.png") right no-repeat,
        url("../img/left_background.png") left no-repeat;
        background-size: cover, cover;
        height: 400px;
    }

    #books {
        opacity: 0;
        height: 360px;
        width: 180px;
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: -200px;
    }

    .carousel-text {
        padding-top: 120px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }
}

body {
    font-family: "Helvetica Neue", serif;
    overflow-x: hidden;
}

h2 {
    padding-left: 20px;
    padding-top: 180px;
    font-style: italic;
    font-weight: bold;
    color: green;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h4, h5 {
    text-align: center;
}

article {
    text-align: justify;
    margin-top: 10px;
}

.carousel-wrapper {
    background: #b2bb47;
}

.custom-carousel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel img {
    width: 100%;
}

.content {
    background: #FFFFFF;
}

.full-content {
    background: url("../img/bg.jpg") repeat;
}

.tab-pane {
    margin-top: 10px;
}

.nav-tabs .nav-item a {
    color: grey;
}